{
    "openapi": "3.1.0",
    "info": {
        "title": "EU Data Act API",
        "version": "1.0.0",
        "description": "M2M and Telemetry APIs for the EU Data Act Developer Portal Sandbox."
    },
    "servers": [
        {
            "url": "https://pc-api.polestar.com/eu-north-1/data-portal/m2m"
        }
    ],
    "tags": [
        {
            "name": "Authorisation",
            "description": "Generate M2M Access Token"
        },
        {
            "name": "Vehicles",
            "description": "Discover available vehicles"
        },
        {
            "name": "Telemetry",
            "description": "Fetch telemetry details"
        },
        {
            "name": "Charging settings",
            "description": "Fetch charging settings the owner has configured on the vehicle, including climate timers"
        }
    ],
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Provide the OAuth2 token generated from /token on the m2m API base URL"
            }
        },
        "schemas": {
            "OAuth2ErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "error_description": {
                        "type": "string"
                    },
                    "requestId": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string"
                    }
                },
                "required": [
                    "error",
                    "error_description",
                    "timestamp"
                ]
            },
            "M2MTokenRequest": {
                "type": "object",
                "properties": {
                    "clientId": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The client ID obtained from developer portal credentials",
                        "example": "client_12345"
                    },
                    "clientSecret": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The client secret obtained from developer portal credentials",
                        "example": "secret_67890"
                    },
                    "scope": {
                        "type": "string",
                        "description": "Optional space-separated OAuth scopes to request for this token. Supported scopes: pdp-telemetry/availability, pdp-telemetry/battery, pdp-telemetry/exterior, pdp-telemetry/health, pdp-telemetry/location, pdp-telemetry/odometer, pdp-telemetry/parkingClimatization, pdp-telemetry/preCleaning, pdp-charging/ampLimit, pdp-charging/chargeLocations, pdp-charging/overrideChargeTimer, pdp-charging/globalChargeTimer, pdp-charging/isAtChargeLocation, pdp-charging/parkingClimateTimer, pdp-charging/targetSoc",
                        "example": "pdp-telemetry/availability pdp-telemetry/exterior"
                    }
                },
                "required": [
                    "clientId",
                    "clientSecret"
                ]
            },
            "VehiclesListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "VINs the authenticated caller is authorized to access.",
                        "example": [
                            "YV1CZ0000000000000",
                            "LPSVS0000000000000"
                        ]
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "count": {
                                "type": "number",
                                "example": 2
                            }
                        },
                        "required": [
                            "count"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "M2mErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            },
                            "httpStatus": {
                                "type": "number"
                            },
                            "requestId": {
                                "type": "string"
                            },
                            "timestamp": {
                                "type": "string"
                            },
                            "details": {}
                        },
                        "required": [
                            "code",
                            "message",
                            "httpStatus",
                            "timestamp"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "AvailabilityTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AvailabilityState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "availability"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "AvailabilityState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "availabilityStatus": {
                        "type": "string",
                        "enum": [
                            "AVAILABILITY_STATUS_UNSPECIFIED",
                            "AVAILABILITY_STATUS_AVAILABLE",
                            "AVAILABILITY_STATUS_UNAVAILABLE"
                        ],
                        "description": "Reported vehicle availability status."
                    },
                    "unavailableReason": {
                        "type": "string",
                        "enum": [
                            "UNAVAILABLE_REASON_UNSPECIFIED",
                            "UNAVAILABLE_REASON_NO_INTERNET",
                            "UNAVAILABLE_REASON_POWER_SAVING_MODE",
                            "UNAVAILABLE_REASON_CAR_IN_USE",
                            "UNAVAILABLE_REASON_OTA_INSTALLATION_IN_PROGRESS",
                            "UNAVAILABLE_REASON_STOLEN_VEHICLE_TRACKING_IN_PROGRESS",
                            "UNAVAILABLE_REASON_SERVICE_MODE_ACTIVE"
                        ],
                        "description": "Reason returned when the vehicle is not available."
                    },
                    "usageMode": {
                        "type": "string",
                        "enum": [
                            "USAGE_MODE_UNSPECIFIED",
                            "USAGE_MODE_ABANDONED",
                            "USAGE_MODE_INACTIVE",
                            "USAGE_MODE_CONVENIENCE",
                            "USAGE_MODE_ACTIVE",
                            "USAGE_MODE_DRIVING",
                            "USAGE_MODE_ENGINE_ON",
                            "USAGE_MODE_ENGINE_OFF"
                        ],
                        "description": "Current usage mode reported for the vehicle."
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "TelemetryTimestamp": {
                "type": "object",
                "properties": {
                    "seconds": {
                        "type": "string",
                        "description": "Whole seconds since the Unix epoch.",
                        "example": "1788362002"
                    },
                    "nanos": {
                        "type": "number",
                        "description": "Nanosecond part of the timestamp.",
                        "example": 200583773
                    }
                }
            },
            "BatteryTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/BatteryState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "battery"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "BatteryState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "averageEnergyConsumptionKwhPer100Km": {
                        "type": "number"
                    },
                    "averageEnergyConsumptionKwhPer100KmAutomatic": {
                        "type": "number"
                    },
                    "averageEnergyConsumptionKwhPer100KmSinceCharge": {
                        "type": "number"
                    },
                    "batteryChargeLevelPercentage": {
                        "type": "number"
                    },
                    "chargerConnectionStatus": {
                        "type": "string",
                        "enum": [
                            "CHARGER_CONNECTION_STATUS_UNSPECIFIED",
                            "CHARGER_CONNECTION_STATUS_CONNECTED",
                            "CHARGER_CONNECTION_STATUS_DISCONNECTED",
                            "CHARGER_CONNECTION_STATUS_FAULT"
                        ]
                    },
                    "chargerPowerStatus": {
                        "type": "string",
                        "enum": [
                            "CHARGER_POWER_STATUS_UNSPECIFIED",
                            "CHARGER_POWER_STATUS_NO_POWER_AVAILABLE",
                            "CHARGER_POWER_STATUS_INITIALIZATION",
                            "CHARGER_POWER_STATUS_POWER_AVAILABLE_BUT_NOT_ACTIVATED",
                            "CHARGER_POWER_STATUS_PROVIDING_POWER",
                            "CHARGER_POWER_STATUS_FAULT"
                        ]
                    },
                    "chargingCurrentAmps": {
                        "type": "number"
                    },
                    "chargingPowerWatts": {
                        "type": "number"
                    },
                    "chargingStatus": {
                        "type": "string",
                        "enum": [
                            "CHARGING_STATUS_UNSPECIFIED",
                            "CHARGING_STATUS_CHARGING",
                            "CHARGING_STATUS_IDLE",
                            "CHARGING_STATUS_SCHEDULED",
                            "CHARGING_STATUS_DISCHARGING",
                            "CHARGING_STATUS_ERROR",
                            "CHARGING_STATUS_SMART_CHARGING",
                            "CHARGING_STATUS_SMART_CHARGING_PAUSED",
                            "CHARGING_STATUS_DONE"
                        ],
                        "description": "Deprecated upstream; prefer chargingStatusV2."
                    },
                    "chargingStatusV2": {
                        "type": "string",
                        "enum": [
                            "CHARGING_STATUS_V2_UNSPECIFIED",
                            "CHARGING_STATUS_V2_CHARGING",
                            "CHARGING_STATUS_V2_CHARGE_LEVEL_IS_GOOD_TO_GO",
                            "CHARGING_STATUS_V2_CHARGING_IS_EN_ROUTE",
                            "CHARGING_STATUS_V2_CHARGING_TOWARDS_MIN_SOC",
                            "CHARGING_STATUS_V2_IDLE",
                            "CHARGING_STATUS_V2_SCHEDULED",
                            "CHARGING_STATUS_V2_SCHEDULED_CHARGING_CANNOT_COMPLETE",
                            "CHARGING_STATUS_V2_SCHEDULED_CHARGING_WILL_COMPLETE",
                            "CHARGING_STATUS_V2_DISCHARGING",
                            "CHARGING_STATUS_V2_DISCHARGING_V2H",
                            "CHARGING_STATUS_V2_DISCHARGING_V2L",
                            "CHARGING_STATUS_V2_SMART_CHARGING",
                            "CHARGING_STATUS_V2_SMART_CHARGING_PAUSED",
                            "CHARGING_STATUS_V2_SMART_CHARGING_WILL_NOT_FINISH",
                            "CHARGING_STATUS_V2_ERROR",
                            "CHARGING_STATUS_V2_DONE"
                        ]
                    },
                    "chargingType": {
                        "type": "string",
                        "enum": [
                            "CHARGING_TYPE_UNSPECIFIED",
                            "CHARGING_TYPE_NONE",
                            "CHARGING_TYPE_AC",
                            "CHARGING_TYPE_DC",
                            "CHARGING_TYPE_WIRELESS"
                        ]
                    },
                    "chargingVoltageVolts": {
                        "type": "number"
                    },
                    "dischargeInfo": {
                        "$ref": "#/components/schemas/DischargeInfo"
                    },
                    "energyConsumptionPercentageManual": {
                        "$ref": "#/components/schemas/EnergyConsumptionPercentage"
                    },
                    "energyConsumptionPercentageAutomatic": {
                        "$ref": "#/components/schemas/EnergyConsumptionPercentage"
                    },
                    "energyConsumptionPercentageSinceCharge": {
                        "$ref": "#/components/schemas/EnergyConsumptionPercentage"
                    },
                    "energyConsumptionWhManual": {
                        "$ref": "#/components/schemas/EnergyConsumptionWh"
                    },
                    "energyConsumptionWhAutomatic": {
                        "$ref": "#/components/schemas/EnergyConsumptionWh"
                    },
                    "energyConsumptionWhSinceCharge": {
                        "$ref": "#/components/schemas/EnergyConsumptionWh"
                    },
                    "estimatedChargingTimeToFullMinutes": {
                        "type": "number"
                    },
                    "estimatedChargingTimeMinutesToTargetDistance": {
                        "type": "number"
                    },
                    "estimatedChargingTimeMinutesToMinimumSoc": {
                        "type": "number"
                    },
                    "estimatedDistanceToEmptyKm": {
                        "type": "number"
                    },
                    "estimatedDistanceToEmptyMiles": {
                        "type": "number"
                    },
                    "manualPreconditioning": {
                        "$ref": "#/components/schemas/ManualPreconditioning"
                    },
                    "totalEnergyConsumptionWh": {
                        "type": "number"
                    },
                    "totalEnergyConsumptionWhAutomatic": {
                        "type": "number"
                    },
                    "totalEnergyConsumptionWhSinceCharge": {
                        "type": "number"
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "DischargeInfo": {
                "type": "object",
                "properties": {
                    "energyAvailable": {
                        "type": "number"
                    },
                    "energyAvailableIncrease": {
                        "type": "number"
                    },
                    "powerLimit": {
                        "type": "number"
                    }
                }
            },
            "EnergyConsumptionPercentage": {
                "type": "object",
                "properties": {
                    "other": {
                        "type": "number"
                    },
                    "driving": {
                        "type": "number"
                    },
                    "climate": {
                        "type": "number"
                    },
                    "battery": {
                        "type": "number"
                    }
                }
            },
            "EnergyConsumptionWh": {
                "type": "object",
                "properties": {
                    "other": {
                        "type": "number"
                    },
                    "driving": {
                        "type": "number"
                    },
                    "climate": {
                        "type": "number"
                    },
                    "battery": {
                        "type": "number"
                    }
                }
            },
            "ManualPreconditioning": {
                "type": "object",
                "properties": {
                    "preconditioningStatus": {
                        "type": "string",
                        "enum": [
                            "MANUAL_PRECONDITIONING_STATUS_UNSPECIFIED",
                            "MANUAL_PRECONDITIONING_STATUS_OFF",
                            "MANUAL_PRECONDITIONING_STATUS_PRECONDITIONING_FINISHED",
                            "MANUAL_PRECONDITIONING_STATUS_ON",
                            "MANUAL_PRECONDITIONING_STATUS_BATTERY_TEMPERATURE_OPTIMAL",
                            "MANUAL_PRECONDITIONING_STATUS_UNAVAILABLE"
                        ]
                    },
                    "unavailableReason": {
                        "type": "string",
                        "enum": [
                            "MANUAL_PRECONDITIONING_UNAVAILABLE_REASON_UNSPECIFIED",
                            "MANUAL_PRECONDITIONING_UNAVAILABLE_REASON_STATUS_FAULT",
                            "MANUAL_PRECONDITIONING_UNAVAILABLE_REASON_CHARGING_IN_PROGRESS",
                            "MANUAL_PRECONDITIONING_UNAVAILABLE_REASON_LOW_ENERGY",
                            "MANUAL_PRECONDITIONING_UNAVAILABLE_REASON_PRECONDITIONING_PLANNED",
                            "MANUAL_PRECONDITIONING_UNAVAILABLE_REASON_PRECONDITIONING_IN_PROGRESS"
                        ]
                    },
                    "startedAt": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "endingAt": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    }
                }
            },
            "ExteriorTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ExteriorState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "exterior"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "ExteriorState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "centralLock": {
                        "type": "string",
                        "enum": [
                            "LOCK_STATUS_UNSPECIFIED",
                            "LOCK_STATUS_UNLOCKED",
                            "LOCK_STATUS_LOCKED"
                        ]
                    },
                    "frontLeftDoor": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "frontRightDoor": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "rearLeftDoor": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "rearRightDoor": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "frontLeftWindow": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "frontRightWindow": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "rearLeftWindow": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "rearRightWindow": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "hood": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "tailgate": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "tankLid": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "sunroof": {
                        "type": "string",
                        "enum": [
                            "OPEN_STATUS_UNSPECIFIED",
                            "OPEN_STATUS_OPEN",
                            "OPEN_STATUS_CLOSED",
                            "OPEN_STATUS_AJAR"
                        ]
                    },
                    "alarm": {
                        "type": "string",
                        "enum": [
                            "ALARM_STATUS_UNSPECIFIED",
                            "ALARM_STATUS_IDLE",
                            "ALARM_STATUS_TRIGGERED"
                        ]
                    },
                    "tailgateLock": {
                        "type": "string",
                        "enum": [
                            "LOCK_STATUS_UNSPECIFIED",
                            "LOCK_STATUS_UNLOCKED",
                            "LOCK_STATUS_LOCKED"
                        ]
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "HealthTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/HealthState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "health"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "HealthState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "engineHoursToService": {
                        "type": "number"
                    },
                    "daysToService": {
                        "type": "number"
                    },
                    "distanceToServiceKm": {
                        "type": "number"
                    },
                    "serviceWarning": {
                        "type": "string",
                        "enum": [
                            "SERVICE_WARNING_UNSPECIFIED",
                            "SERVICE_WARNING_NO_WARNING",
                            "SERVICE_WARNING_UNKNOWN_WARNING",
                            "SERVICE_WARNING_REGULAR_MAINTENANCE_ALMOST_TIME_FOR_SERVICE",
                            "SERVICE_WARNING_ENGINE_HOURS_ALMOST_TIME_FOR_SERVICE",
                            "SERVICE_WARNING_DISTANCE_DRIVEN_ALMOST_TIME_FOR_SERVICE",
                            "SERVICE_WARNING_REGULAR_MAINTENANCE_TIME_FOR_SERVICE",
                            "SERVICE_WARNING_ENGINE_HOURS_TIME_FOR_SERVICE",
                            "SERVICE_WARNING_DISTANCE_DRIVEN_TIME_FOR_SERVICE",
                            "SERVICE_WARNING_REGULAR_MAINTENANCE_OVERDUE_FOR_SERVICE",
                            "SERVICE_WARNING_ENGINE_HOURS_OVERDUE_FOR_SERVICE",
                            "SERVICE_WARNING_DISTANCE_DRIVEN_OVERDUE_FOR_SERVICE"
                        ]
                    },
                    "brakeFluidLevelWarning": {
                        "type": "string",
                        "enum": [
                            "BRAKE_FLUID_LEVEL_WARNING_UNSPECIFIED",
                            "BRAKE_FLUID_LEVEL_WARNING_NO_WARNING",
                            "BRAKE_FLUID_LEVEL_WARNING_TOO_LOW",
                            "BRAKE_FLUID_LEVEL_WARNING_CRITICALLY_LOW"
                        ]
                    },
                    "engineCoolantLevelWarning": {
                        "type": "string",
                        "enum": [
                            "ENGINE_COOLANT_LEVEL_WARNING_UNSPECIFIED",
                            "ENGINE_COOLANT_LEVEL_WARNING_NO_WARNING",
                            "ENGINE_COOLANT_LEVEL_WARNING_TOO_LOW"
                        ]
                    },
                    "oilLevelWarning": {
                        "type": "string",
                        "enum": [
                            "OIL_LEVEL_WARNING_UNSPECIFIED",
                            "OIL_LEVEL_WARNING_NO_WARNING",
                            "OIL_LEVEL_WARNING_SERVICE_REQUIRED",
                            "OIL_LEVEL_WARNING_TOO_LOW",
                            "OIL_LEVEL_WARNING_TOO_HIGH"
                        ]
                    },
                    "washerFluidLevelWarning": {
                        "type": "string",
                        "enum": [
                            "WASHER_FLUID_LEVEL_WARNING_UNSPECIFIED",
                            "WASHER_FLUID_LEVEL_WARNING_NO_WARNING",
                            "WASHER_FLUID_LEVEL_WARNING_TOO_LOW"
                        ]
                    },
                    "frontLeftTyrePressureWarning": {
                        "type": "string",
                        "enum": [
                            "TYRE_PRESSURE_WARNING_UNSPECIFIED",
                            "TYRE_PRESSURE_WARNING_NO_WARNING",
                            "TYRE_PRESSURE_WARNING_VERY_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_HIGH_PRESSURE"
                        ]
                    },
                    "frontRightTyrePressureWarning": {
                        "type": "string",
                        "enum": [
                            "TYRE_PRESSURE_WARNING_UNSPECIFIED",
                            "TYRE_PRESSURE_WARNING_NO_WARNING",
                            "TYRE_PRESSURE_WARNING_VERY_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_HIGH_PRESSURE"
                        ]
                    },
                    "rearLeftTyrePressureWarning": {
                        "type": "string",
                        "enum": [
                            "TYRE_PRESSURE_WARNING_UNSPECIFIED",
                            "TYRE_PRESSURE_WARNING_NO_WARNING",
                            "TYRE_PRESSURE_WARNING_VERY_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_HIGH_PRESSURE"
                        ]
                    },
                    "rearRightTyrePressureWarning": {
                        "type": "string",
                        "enum": [
                            "TYRE_PRESSURE_WARNING_UNSPECIFIED",
                            "TYRE_PRESSURE_WARNING_NO_WARNING",
                            "TYRE_PRESSURE_WARNING_VERY_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_LOW_PRESSURE",
                            "TYRE_PRESSURE_WARNING_HIGH_PRESSURE"
                        ]
                    },
                    "frontLeftTyrePressureKpa": {
                        "type": "number"
                    },
                    "frontRightTyrePressureKpa": {
                        "type": "number"
                    },
                    "rearLeftTyrePressureKpa": {
                        "type": "number"
                    },
                    "rearRightTyrePressureKpa": {
                        "type": "number"
                    },
                    "frontTyresReferencePressureKpa": {
                        "type": "number",
                        "description": "Recommended front tyre pressure for this vehicle."
                    },
                    "rearTyresReferencePressureKpa": {
                        "type": "number",
                        "description": "Recommended rear tyre pressure for this vehicle."
                    },
                    "lowVoltageBatteryWarning": {
                        "type": "string",
                        "enum": [
                            "LOW_VOLTAGE_BATTERY_WARNING_UNSPECIFIED",
                            "LOW_VOLTAGE_BATTERY_WARNING_NO_WARNING",
                            "LOW_VOLTAGE_BATTERY_WARNING_TOO_LOW"
                        ]
                    },
                    "lightWarnings": {
                        "$ref": "#/components/schemas/LightWarnings"
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "LightWarnings": {
                "type": "object",
                "properties": {
                    "turnIndicatorFrontLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorFrontRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorRearLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorRearRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorSideLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "turnIndicatorSideRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "lowBeamLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "lowBeamRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "lowBeamAny": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "highBeamLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "highBeamRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "highBeamAny": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "fogLightFront": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "fogLightRear": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "fogLightRearLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "fogLightRearRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "brakeLightLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "brakeLightRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "brakeLightCenter": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "brakeLightAny": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "positionLightFrontLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "positionLightFrontRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "positionLightRearLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "positionLightRearRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "positionLightFront": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "positionLightRear": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "daytimeRunningLightLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "daytimeRunningLightRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "daytimeRunningLightAny": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "registrationPlateLight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "sideMarkerLightLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "sideMarkerLightRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "sideMarkerLightAny": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "reverseLightLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "reverseLightRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "reverseLightAny": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "corneringLightLeft": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    },
                    "corneringLightRight": {
                        "type": "string",
                        "enum": [
                            "EXTERIOR_LIGHT_WARNING_UNSPECIFIED",
                            "EXTERIOR_LIGHT_WARNING_NO_WARNING",
                            "EXTERIOR_LIGHT_WARNING_FAILURE"
                        ]
                    }
                }
            },
            "LocationTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/LocationState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "location"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "LocationState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "altitude": {
                        "type": "string",
                        "description": "Altitude in metres, reported as a string."
                    },
                    "coordinate": {
                        "$ref": "#/components/schemas/TelemetryCoordinate"
                    },
                    "heading": {
                        "type": "number",
                        "description": "Heading in degrees from true north."
                    },
                    "speed": {
                        "type": "string",
                        "description": "Speed in km/h, reported as a string."
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "TelemetryCoordinate": {
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number"
                    },
                    "longitude": {
                        "type": "number"
                    }
                }
            },
            "OdometerTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/OdometerState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "odometer"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "OdometerState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "odometerMeters": {
                        "type": "number"
                    },
                    "tripMeterManualKm": {
                        "type": "number"
                    },
                    "averageSpeedKmPerHour": {
                        "type": "number"
                    },
                    "tripMeterAutomaticKm": {
                        "type": "number"
                    },
                    "averageSpeedKmPerHourAutomatic": {
                        "type": "number"
                    },
                    "tripMeterSinceChargeKm": {
                        "type": "number"
                    },
                    "averageSpeedKmPerHourSinceCharge": {
                        "type": "number"
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "ParkingClimatizationTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ParkingClimatizationState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "parking-climatization"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "ParkingClimatizationState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "runningStatus": {
                        "type": "string",
                        "enum": [
                            "RUNNING_STATUS_UNSPECIFIED",
                            "RUNNING_STATUS_ON",
                            "RUNNING_STATUS_OFF",
                            "RUNNING_STATUS_PENDING"
                        ]
                    },
                    "mainClimateRunningStatus": {
                        "type": "string",
                        "enum": [
                            "MAIN_CLIMATE_RUNNING_STATUS_UNSPECIFIED",
                            "MAIN_CLIMATE_RUNNING_STATUS_ON",
                            "MAIN_CLIMATE_RUNNING_STATUS_OFF"
                        ]
                    },
                    "runtimeLeftMinutes": {
                        "type": "number",
                        "description": "Deprecated upstream; prefer startedAt and endingAt."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "ERROR_TYPE_UNSPECIFIED",
                                "ERROR_TYPE_GENERIC_ERROR",
                                "ERROR_TYPE_INTERRUPTED",
                                "ERROR_TYPE_FUEL_LOW",
                                "ERROR_TYPE_BATTERY_LOW",
                                "ERROR_TYPE_NOT_CONNECTED_TO_POWER",
                                "ERROR_TYPE_NO_START_NEEDED",
                                "ERROR_TYPE_SERVICE_REQUIRED",
                                "ERROR_TYPE_TEMPORARILY_NOT_AVAILABLE",
                                "ERROR_TYPE_PERSISTENT_ERROR_DETECTED",
                                "ERROR_TYPE_REACHED_MAX_RUNTIME"
                            ]
                        },
                        "description": "Active parking-climatization errors."
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "WARNING_TYPE_UNSPECIFIED",
                                "WARNING_TYPE_BATTERY_LOW",
                                "WARNING_TYPE_RUN_TIME_NEARING_LIMIT"
                            ]
                        },
                        "description": "Active parking-climatization warnings."
                    },
                    "ventilation": {
                        "type": "string",
                        "enum": [
                            "VENTILATION_UNSPECIFIED",
                            "VENTILATION_COOLING",
                            "VENTILATION_HEATING",
                            "VENTILATION_NEUTRAL"
                        ]
                    },
                    "currentCompartmentTemperatureCelsius": {
                        "type": "number"
                    },
                    "requestedCompartmentTemperatureCelsius": {
                        "type": "number"
                    },
                    "requestedFrontLeftSeat": {
                        "type": "string",
                        "enum": [
                            "HEATING_INTENSITY_UNSPECIFIED",
                            "HEATING_INTENSITY_OFF",
                            "HEATING_INTENSITY_LOW",
                            "HEATING_INTENSITY_MEDIUM",
                            "HEATING_INTENSITY_HIGH"
                        ]
                    },
                    "requestedFrontRightSeat": {
                        "type": "string",
                        "enum": [
                            "HEATING_INTENSITY_UNSPECIFIED",
                            "HEATING_INTENSITY_OFF",
                            "HEATING_INTENSITY_LOW",
                            "HEATING_INTENSITY_MEDIUM",
                            "HEATING_INTENSITY_HIGH"
                        ]
                    },
                    "requestedRearLeftSeat": {
                        "type": "string",
                        "enum": [
                            "HEATING_INTENSITY_UNSPECIFIED",
                            "HEATING_INTENSITY_OFF",
                            "HEATING_INTENSITY_LOW",
                            "HEATING_INTENSITY_MEDIUM",
                            "HEATING_INTENSITY_HIGH"
                        ]
                    },
                    "requestedRearRightSeat": {
                        "type": "string",
                        "enum": [
                            "HEATING_INTENSITY_UNSPECIFIED",
                            "HEATING_INTENSITY_OFF",
                            "HEATING_INTENSITY_LOW",
                            "HEATING_INTENSITY_MEDIUM",
                            "HEATING_INTENSITY_HIGH"
                        ]
                    },
                    "requestedSteeringWheelHeating": {
                        "type": "string",
                        "enum": [
                            "HEATING_INTENSITY_UNSPECIFIED",
                            "HEATING_INTENSITY_OFF",
                            "HEATING_INTENSITY_LOW",
                            "HEATING_INTENSITY_MEDIUM",
                            "HEATING_INTENSITY_HIGH"
                        ]
                    },
                    "startedAt": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "endingAt": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "startReason": {
                        "type": "string",
                        "enum": [
                            "START_REASON_UNSPECIFIED",
                            "START_REASON_REMOTE",
                            "START_REASON_MANUALLY_FROM_CAR",
                            "START_REASON_TIMER",
                            "START_REASON_KEEP_CLIMATE"
                        ]
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "PreCleaningTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/PreCleaningState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "pre-cleaning"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "PreCleaningState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "lastCycleCompleted": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "measurementDate": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "startedAt": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "endingAt": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "runningStatus": {
                        "type": "string",
                        "enum": [
                            "RUNNING_STATUS_UNSPECIFIED",
                            "RUNNING_STATUS_ON",
                            "RUNNING_STATUS_OFF",
                            "RUNNING_STATUS_PENDING"
                        ]
                    },
                    "startReason": {
                        "type": "string",
                        "enum": [
                            "START_REASON_UNSPECIFIED",
                            "START_REASON_REMOTE",
                            "START_REASON_MANUALLY_FROM_CAR",
                            "START_REASON_TIMER",
                            "START_REASON_KEEP_CLIMATE"
                        ]
                    },
                    "lastCycleValid": {
                        "type": "boolean"
                    },
                    "measuredAirQualityIndex": {
                        "type": "number"
                    },
                    "measuredParticulateMatter25": {
                        "type": "number"
                    },
                    "runtimeLeftMinutes": {
                        "type": "number"
                    },
                    "error": {
                        "type": "string",
                        "enum": [
                            "ERROR_TYPE_UNSPECIFIED",
                            "ERROR_TYPE_GENERIC_ERROR",
                            "ERROR_TYPE_INTERRUPTED",
                            "ERROR_TYPE_FUEL_LOW",
                            "ERROR_TYPE_BATTERY_LOW",
                            "ERROR_TYPE_NOT_CONNECTED_TO_POWER",
                            "ERROR_TYPE_NO_START_NEEDED",
                            "ERROR_TYPE_SERVICE_REQUIRED",
                            "ERROR_TYPE_TEMPORARILY_NOT_AVAILABLE",
                            "ERROR_TYPE_PERSISTENT_ERROR_DETECTED",
                            "ERROR_TYPE_REACHED_MAX_RUNTIME"
                        ]
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this telemetry event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this telemetry update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "AmpLimitTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AmpLimitState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "amp-limit"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "AmpLimitState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    },
                    "updatedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "ampLimit": {
                        "$ref": "#/components/schemas/AmpLimitValue"
                    },
                    "pendingAmpLimit": {
                        "$ref": "#/components/schemas/AmpLimitValue"
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "AmpLimitValue": {
                "type": "object",
                "properties": {
                    "ampLimit": {
                        "type": "number"
                    },
                    "updatedAt": {
                        "type": "string"
                    },
                    "updatedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "source": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    }
                }
            },
            "ChargeLocationsTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ChargeLocationsState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "charge-locations"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "ChargeLocationsState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "chargeLocations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChargeLocation"
                        }
                    },
                    "pendingChargeLocations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChargeLocation"
                        },
                        "description": "Locations sent to the vehicle that it has not confirmed yet."
                    },
                    "pendingDeleteChargeLocations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChargeLocation"
                        },
                        "description": "Locations awaiting deletion on the vehicle."
                    },
                    "utc0": {
                        "type": "boolean",
                        "description": "True when the vehicle reports its timer times in UTC rather than local time."
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this charge-location event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "ChargeLocation": {
                "type": "object",
                "properties": {
                    "metadata": {
                        "$ref": "#/components/schemas/SettingsMetadata"
                    },
                    "locationId": {
                        "type": "string"
                    },
                    "locationAlias": {
                        "type": "string"
                    },
                    "coordinate": {
                        "$ref": "#/components/schemas/TelemetryCoordinate"
                    },
                    "ampLimit": {
                        "type": "number"
                    },
                    "minimumSoc": {
                        "type": "number"
                    },
                    "isOptimizedChargingEnabled": {
                        "type": "boolean"
                    },
                    "isBidirectionalChargingEnabled": {
                        "type": "boolean"
                    },
                    "availableOptimizedCharging": {
                        "type": "string",
                        "enum": [
                            "UNAVAILABLE",
                            "INTELLIGENT_TIMER",
                            "PRICED_OPTIMIZED_CHARGING"
                        ]
                    },
                    "chargeTimers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChargeTimer"
                        }
                    },
                    "departureTimes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DepartureTime"
                        }
                    },
                    "locationType": {
                        "type": "string",
                        "enum": [
                            "LOCATION_TYPE_UNSPECIFIED",
                            "LOCATION_TYPE_RECENT",
                            "LOCATION_TYPE_SAVED",
                            "LOCATION_TYPE_SAVED_3RD_PARTY"
                        ]
                    }
                }
            },
            "SettingsMetadata": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    },
                    "updatedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "source": {
                        "type": "string"
                    },
                    "syncStatus": {
                        "$ref": "#/components/schemas/SyncStatus"
                    },
                    "sourceUpdatedAt": {
                        "type": "string"
                    },
                    "sourceUpdatedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    }
                }
            },
            "SyncStatus": {
                "type": "object",
                "properties": {
                    "value": {
                        "type": "string",
                        "enum": [
                            "SYNC_STATUS_UNKNOWN",
                            "SYNCING",
                            "SYNCED",
                            "RETRYING",
                            "RETRYING_CAR_OFFLINE",
                            "ERROR"
                        ],
                        "description": "Whether the vehicle has acknowledged this setting yet."
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "ChargeTimer": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "activated": {
                        "type": "boolean"
                    },
                    "start": {
                        "$ref": "#/components/schemas/DailyTime"
                    },
                    "stop": {
                        "$ref": "#/components/schemas/DailyTime"
                    },
                    "activeDays": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "UNSPECIFIED",
                                "MONDAY",
                                "TUESDAY",
                                "WEDNESDAY",
                                "THURSDAY",
                                "FRIDAY",
                                "SATURDAY",
                                "SUNDAY"
                            ]
                        }
                    }
                }
            },
            "DailyTime": {
                "type": "object",
                "properties": {
                    "hour": {
                        "type": "number"
                    },
                    "minute": {
                        "type": "number"
                    },
                    "timeZone": {
                        "$ref": "#/components/schemas/TimeZone"
                    }
                }
            },
            "TimeZone": {
                "type": "object",
                "properties": {
                    "offsetMinutes": {
                        "type": "number",
                        "description": "Minutes offset from UTC that this time was set in."
                    }
                }
            },
            "DepartureTime": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "activated": {
                        "type": "boolean"
                    },
                    "departureTime": {
                        "$ref": "#/components/schemas/DailyTime"
                    },
                    "activeDays": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "UNSPECIFIED",
                                "MONDAY",
                                "TUESDAY",
                                "WEDNESDAY",
                                "THURSDAY",
                                "FRIDAY",
                                "SATURDAY",
                                "SUNDAY"
                            ]
                        }
                    }
                }
            },
            "ChargeNowTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ChargeNowState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "charge-now"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "ChargeNowState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "syncedOverrideChargeTimer": {
                        "$ref": "#/components/schemas/OverrideChargeTimerValue"
                    },
                    "pendingOverrideChargeTimer": {
                        "$ref": "#/components/schemas/OverrideChargeTimerValue"
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "OverrideChargeTimerValue": {
                "type": "object",
                "properties": {
                    "override": {
                        "type": "boolean",
                        "description": "True while the charge timer is overridden, i.e. Charge Now is on."
                    },
                    "updatedAt": {
                        "type": "string"
                    },
                    "updatedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    }
                }
            },
            "GlobalChargeTimerTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GlobalChargeTimerState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "global-charge-timer"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "GlobalChargeTimerState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "globalChargeTimer": {
                        "$ref": "#/components/schemas/GlobalChargeTimerValue"
                    },
                    "pendingGlobalChargeTimer": {
                        "$ref": "#/components/schemas/GlobalChargeTimerValue"
                    },
                    "utc0": {
                        "type": "boolean",
                        "description": "True when the vehicle reports its timer times in UTC rather than local time."
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "GlobalChargeTimerValue": {
                "type": "object",
                "properties": {
                    "start": {
                        "$ref": "#/components/schemas/DailyTime"
                    },
                    "stop": {
                        "$ref": "#/components/schemas/DailyTime"
                    },
                    "activated": {
                        "type": "boolean"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/SettingsMetadata"
                    }
                }
            },
            "IsAtChargeLocationResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/IsAtChargeLocationState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "is-at-charge-location"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "IsAtChargeLocationState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "locationId": {
                        "type": "string",
                        "description": "The charge location the vehicle is currently at."
                    },
                    "arrivedAt": {
                        "type": "string",
                        "description": "When the vehicle arrived at the location."
                    },
                    "arrivedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "ParkingClimateTimerResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ParkingClimateTimerState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "parking-climate-timer"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "ParkingClimateTimerState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    },
                    "updatedAtTimestamp": {
                        "$ref": "#/components/schemas/TelemetryTimestamp"
                    },
                    "parkingClimateTimers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ParkingClimateTimer"
                        }
                    },
                    "pendingParkingClimateTimers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ParkingClimateTimer"
                        },
                        "description": "Timers sent to the vehicle that it has not confirmed yet."
                    },
                    "pendingDeleteParkingClimateTimers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ParkingClimateTimer"
                        },
                        "description": "Timers awaiting deletion on the vehicle."
                    },
                    "timerSettings": {
                        "$ref": "#/components/schemas/TimerSettings"
                    },
                    "pendingTimerSettings": {
                        "$ref": "#/components/schemas/TimerSettings"
                    },
                    "utc0": {
                        "type": "boolean",
                        "description": "True when the vehicle reports its timer times in UTC rather than local time."
                    },
                    "metaReceivedAt": {
                        "type": "string",
                        "description": "When the backend received this event."
                    },
                    "metaEventId": {
                        "type": "string",
                        "description": "Source event identifier for this update."
                    }
                },
                "required": [
                    "vin"
                ]
            },
            "ParkingClimateTimer": {
                "type": "object",
                "properties": {
                    "timerId": {
                        "type": "string"
                    },
                    "index": {
                        "type": "number"
                    },
                    "readyAt": {
                        "$ref": "#/components/schemas/DailyTime"
                    },
                    "activated": {
                        "type": "boolean"
                    },
                    "repeat": {
                        "type": "boolean",
                        "description": "True when the timer repeats weekly on the listed weekdays."
                    },
                    "weekdays": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "UNSPECIFIED",
                                "MONDAY",
                                "TUESDAY",
                                "WEDNESDAY",
                                "THURSDAY",
                                "FRIDAY",
                                "SATURDAY",
                                "SUNDAY"
                            ]
                        }
                    },
                    "startDate": {
                        "$ref": "#/components/schemas/StartDate"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/SettingsMetadata"
                    }
                }
            },
            "StartDate": {
                "type": "object",
                "properties": {
                    "year": {
                        "type": "number"
                    },
                    "month": {
                        "type": "number"
                    },
                    "day": {
                        "type": "number"
                    }
                }
            },
            "TimerSettings": {
                "type": "object",
                "properties": {
                    "seatHeatingIntensity": {
                        "$ref": "#/components/schemas/SeatHeatingIntensity"
                    },
                    "steeringWheelHeatingIntensity": {
                        "type": "string",
                        "enum": [
                            "I_UNDEFINED",
                            "I_OFF",
                            "I_LEVEL1",
                            "I_LEVEL2",
                            "I_LEVEL3"
                        ]
                    },
                    "requestedCompartmentTemperatureCelsius": {
                        "type": "number"
                    },
                    "isCompartmentTemperatureRequested": {
                        "type": "boolean"
                    },
                    "batteryPreconditioning": {
                        "type": "string",
                        "enum": [
                            "BP_UNDEFINED",
                            "BP_OFF",
                            "BP_WHEN_PLUGGED",
                            "BP_ON"
                        ]
                    }
                }
            },
            "SeatHeatingIntensity": {
                "type": "object",
                "properties": {
                    "frontRowLeftSeat": {
                        "type": "string",
                        "enum": [
                            "I_UNDEFINED",
                            "I_OFF",
                            "I_LEVEL1",
                            "I_LEVEL2",
                            "I_LEVEL3"
                        ]
                    },
                    "frontRowRightSeat": {
                        "type": "string",
                        "enum": [
                            "I_UNDEFINED",
                            "I_OFF",
                            "I_LEVEL1",
                            "I_LEVEL2",
                            "I_LEVEL3"
                        ]
                    },
                    "rearRowLeftSeat": {
                        "type": "string",
                        "enum": [
                            "I_UNDEFINED",
                            "I_OFF",
                            "I_LEVEL1",
                            "I_LEVEL2",
                            "I_LEVEL3"
                        ]
                    },
                    "rearRowRightSeat": {
                        "type": "string",
                        "enum": [
                            "I_UNDEFINED",
                            "I_OFF",
                            "I_LEVEL1",
                            "I_LEVEL2",
                            "I_LEVEL3"
                        ]
                    }
                }
            },
            "TargetSocTelemetryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/TargetSocState"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "vin": {
                                "type": "string",
                                "example": "YV1CZ0000000000000"
                            },
                            "domain": {
                                "type": "string",
                                "example": "target-soc"
                            }
                        },
                        "required": [
                            "vin",
                            "domain"
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "TargetSocState": {
                "type": "object",
                "properties": {
                    "vin": {
                        "type": "string"
                    },
[...]
